/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 17, 2018, 11:54:14 AM
    Author     : Pieter Moens
*/

.add-roll-button {
    -fx-background-image: url('../images/icons/checkbox-pen-outline.png');
}

.new-order-button {
    -fx-background-image: url('../images/icons/uploading-archive.png');
}

.change-button {
    -fx-background-image: url('../images/icons/layers-icon.png');
}

.save-order-button {
    -fx-background-image: url('../images/icons/downloading-action.png');
}